# Data handling and manipulation
pandas==1.5.3
numpy==1.24.1

# Machine learning
scikit-learn==1.2.0
xgboost==1.7.5
lightgbm==3.3.2
tensorflow==2.11.0
statsmodels==0.13.5

# Time series modeling
fbprophet==0.7.1

# Visualization
matplotlib==3.6.2
seaborn==0.11.2
plotly==5.9.0

# Utilities
jupyter==1.0.0
tqdm==4.64.1
scipy==1.9.3
joblib==1.2.0

# Geospatial (if relevant)
geopandas==0.12.2
